#children .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#children .grid-item {
    background-color: #f2f2f2; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

#children-img img{
    width: 100%;
    height: 400px;
    margin-top: 10px;
}