#make-reservation {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#make-reservation .form-group {
    margin-bottom: 15px;
}

#make-reservation label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#make-reservation input[type="text"],
#make-reservation input[type="date"],
#make-reservation select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#make-reservation .radio-group {
    display: flex;
    align-items: center;
}

#make-reservation .radio-group input[type="radio"] {
    margin-right: 5px;
}

#make-reservation .radio-group label {
    margin-right: 15px;
}

#make-reservation input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#make-reservation input[type="submit"]:hover {
    background-color: black;
}

#make-reservation input, label {
    margin: 5px;
}


